@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root{
    --orange-color: #f89950; 
    --black-color: #050a0e;
    --blue-color: #b4c4de;
    --white-color: #e7e7e9;
}

/*Resetar css*/
*{
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilizando o html*/
html{
    font-size: 12px;
}

/*Estilizando o body*/
body {
    background-color: var(--orange-color);
    margin: 0 auto;
    font-family: Noto Sans, sans-serif;
    padding: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

/*Estilizando o main*/
main {
    text-align: center;
    border: solid var(--blue-color);
    border-width: 8px 8px 8px 8px;
    min-height: 40vh;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 4rem;
    color: var(--black-color);
}

h2 {
    font-size: 2.5rem;
    margin: 2rem 2rem 2rem 2rem;
}
  
p {
    font-size: 1.5rem;
}

.gameOutput{
    padding-bottom: 2rem;
}
/*Estilizando o button*/
.button-wrapper {
    display: flex;
    flex-direction: column;
}
  
button {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: var(--blue-color);
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 2rem;
}

/*Estilizando as informacoes*/

h3 {
    font-size: 3rem;
}


#inputNumber {
    border: 2px solid lightgray;
    background: var(--white-color);
    margin: 2rem 0;
    padding: 1rem 1rem 1rem 1rem;
    width: 25rem;
    text-align: center;
}

.status {
    text-align: left;
}
  
.gameInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.gameInfo span {
    font-size: 1.6rem;
}

@media (max-width: 1300px) {
    body {
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
    }

    main {
      width: 300px;
      padding: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
    h2{
      font-size: 2.2rem;
    }
    h3{
      font-size: 2rem;
    }

    
    #inputNumber {
    margin: 2rem 0;
      padding: 0.75rem 0;
      width: 20rem;
      font-size: 1rem;
    }

    p{
      font-size: 1.4rem;
    }

    button {
      padding: 1rem 3rem;
      border-radius: 1rem 1rem 1rem 1rem;
      font-size: 1.8rem;
    }

    #buttonNR {
      margin-left: auto;
      margin-right: auto;
    }

    .gameInfo{
        flex-direction: column;
    }
    .gameInfo span {
      font-size: 1.2rem;
    }

    .guessesInfo{
      font-weight: bold;
    }
    
}

